Repository u1F713/u1F713.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, unit-testing

lefthook.yml:

pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: pnpm audit

pre-commit:
  commands:
    format:
      glob: '*.{ts,tsx,md,mdx,json,jsonc}'
      run: pnpm prettier --write --cache {staged_files}
      stage_fixed: true

    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    unit-testing:
      glob: '*.{ts,tsx}'
      run: pnpm vitest run
      stage_fixed: true

feat(font): use inter
  app/layout.tsx
Due: format, lint, unit-testing

fix(style): mobile paddings
  app/(blog)/articles/page.tsx
Due: format, lint, unit-testing

feat(content): generate-metadata
  app/(blog)/[article]/page.tsx
Due: format, lint, unit-testing

feat(metadata): implemenet canonical and alternate URL
  app/layout.tsx
Due: format, lint, unit-testing

feat(content): web feed link
  app/(blog)/articles/page.tsx
  app/(blog)/assets/atom-feed.svg
Due: format, lint, unit-testing

feat: display article date
  app/(blog)/[article]/page.tsx
Due: format, lint, unit-testing

refactor: page layout
  app/(blog)/[article]/page.tsx
  app/(blog)/articles/page.tsx
  app/layout.tsx
  app/page.tsx
Due: format, lint, unit-testing

fix(css): header styles
  app/components/Header.tsx
Due: format, lint, unit-testing

chore(rename): theme-switch
  app/layout.tsx
  features/theme/ThemeSwitch.tsx
Due: format, lint, unit-testing

refactor: page theme
  app/components/Header.tsx
  app/globals.css
  app/layout.tsx
  features/theme/ThemeContext.tsx
  features/theme/ThemeSwitch.tsx
  features/theme/assets/moon.svg
  features/theme/assets/sun.svg
  features/theme/preloadScript.ts
  features/theme/themes.css
  package.json
  pnpm-lock.yaml
Due: format, lint, unit-testing

fix(@effect/vitest): update deps to address CVE-2025-24010
  pnpm-lock.yaml
Due: none

fix: feed link
  app/(blog)/articles/page.tsx
Due: format, lint, unit-testing

refactor(feed): use standard `/atom.xml` route
  app/(blog)/articles/page.tsx
  app/(blog)/atom.xml/route.ts
  app/layout.tsx
Due: format, lint, unit-testing

feat: decouple plugins from the compiler
  app/(blog)/[article]/page.tsx
  lib/markdown-content/index.ts
  lib/markdown-content/rehype.ts
  lib/markdown-content/render.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, unit-testing

refactor: rename Article to Post
  app/(blog)/[postId]/page.tsx
  app/(blog)/atom.xml/route.ts
  app/(blog)/postScheme.ts
  app/(blog)/posts/page.tsx
  app/(blog)/utils.ts
  app/components/Header.tsx
Due: format, lint, unit-testing

refactor: content library
  app/(blog)/[postId]/page.tsx
  app/(blog)/atom.xml/route.ts
  app/(blog)/posts/page.tsx
  app/(blog)/utils.ts
  lib/markdown-content/content.spec.ts
  lib/markdown-content/index.ts
  lib/markdown-content/mocks/content.md
  lib/markdown-content/render.ts
  lib/markdown-content/stream.ts
Due: format, lint, unit-testing

chore: rename exports
  app/(blog)/[postId]/page.tsx
  lib/markdown-content/compiler.ts
  lib/markdown-content/content.spec.ts
  lib/markdown-content/index.ts
Due: format, lint, unit-testing

perf: prevent load unnecessary content data
  app/(blog)/[postId]/page.tsx
  app/(blog)/atom.xml/route.ts
  app/(blog)/posts/page.tsx
  lib/markdown-content/content.spec.ts
  lib/markdown-content/stream.ts
Due: format, lint, unit-testing

refactor: web reader btn
  app/(blog)/posts/page.tsx
  app/assets/atom-feed.svg
  app/components/Header.tsx
Due: format, lint, unit-testing

style: post list
  app/(blog)/posts/page.tsx
Due: format, lint, unit-testing

chore(deps): add xml parser
  package.json
  pnpm-lock.yaml
Due: format

refactor: atom web feed
  app/(blog)/atom.xml/route.ts
  features/atom-feed/index.ts
  features/atom-feed/test/atom.spec.ts
Due: format, lint, unit-testing

feat(CI): add ci workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix: load local `envFile`
  vitest.config.ts
Due: format, lint, unit-testing

fix(CI): job variables
  .github/workflows/ci.yml
Due: none

chore(workflow): pre-commit
  lefthook.yml
Due: none

chore(deps): update package.json
  package.json
  pnpm-lock.yaml
Due: format

chore(flake): override pnpm
  flake.lock
  flake.nix
Due: none

feat(style): global theme
  app/(blog)/[postId]/page.tsx
  app/(blog)/posts/page.tsx
  app/components/Header.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  features/theme/themes.css
  lib/markdown-content/rehype.ts
Due: format, lint, unit-testing

chore(rename): atom-feed
  app/(blog)/atom.xml/route.ts
  app/components/Header.tsx
  lib/atom-feed/index.ts
  lib/atom-feed/test/atom.spec.ts
Due: format, lint, unit-testing

fix: run on `CI` completed
  .github/workflows/deploy.yml
Due: none

fix(style): article layout
  app/(blog)/[postId]/page.tsx
Due: format, lint, unit-testing

style: update margins and paddings
  app/page.tsx
Due: format, lint, unit-testing

fix(css): footer styles
  app/layout.tsx
Due: format, lint, unit-testing

refactor: header navbar
  app/components/Header.tsx
Due: format, lint, unit-testing

content: add `NixOS installation experience`
  app/(blog)/content/nixos-installation-experience.mdx
Due: format

fix: style consistency
  app/components/Header.tsx
Due: format, lint, unit-testing

refactor: generate mask-image from tailwindcss
  app/components/Header.tsx
  features/theme/ThemeSwitch.tsx
  features/theme/themes.css
  public/atom-feed.svg
  public/moon.svg
  public/sun.svg
Due: format, lint, unit-testing

style: scrollbar-color
  features/theme/themes.css
Due: none

fix: text color, fmt
  app/page.tsx
Due: format, lint, unit-testing
