Repository u1F713/u1F713.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, unit-testing

lefthook.yml:

pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: pnpm audit

pre-commit:
  commands:
    format:
      glob: '*.{ts,tsx,md,mdx,json,jsonc}'
      run: pnpm prettier --write --cache {staged_files}
      stage_fixed: true

    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    unit-testing:
      glob: '*.{ts,tsx}'
      run: pnpm vitest run
      stage_fixed: true

refactor(css): use shadow-[0_1px_0_0] instead of border-b
  app/components/Header.tsx
Due: format, lint, unit-testing

feat(ci): setup dependabot
  .github/dependabot.yml
Due: none

feat(ci): run deploy after CI tests complete on main
  .github/workflows/deploy.yml
Due: none

feat(ci): update workflow environment
  .github/workflows/ci.yml
Due: none

feat(ci): auto merge dependabot PRs
  .github/workflows/ci.yml
Due: none

chore(deps): update package.json
  package.json
  pnpm-lock.yaml
Due: format
