Repository u1F713/u1F713.github.io: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-push:
  commands:
    packages-audit:
      tags: frontend security
      run: pnpm audit

pre-commit:
  commands:
    format:
      glob: '*.{ts,tsx,md,mdx,json,jsonc}'
      run: pnpm prettier --write --cache {staged_files}
      stage_fixed: true

    lint:
      glob: '*.{ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

ci: deploy to github pages
  .github/workflows/deploy.yml
Due: none

feat: update props
  app/components/Image.tsx
Due: format, lint

feat: use automatic format selection
  app/components/Image.tsx
Due: format, lint

feat(css): adjust layout by removing top margin
  app/layout.tsx
Due: format, lint

feat: implement article data rendering
  app/(blog)/[article]/page.tsx
Due: format, lint

refactor(css): enhance home page styles for better consistency
  app/page.tsx
Due: format, lint

refactor(css): ensure consistent padding across pages
  app/(blog)/[article]/page.tsx
  app/layout.tsx
Due: format, lint

feat: update article preview
  app/(blog)/articles/page.tsx
Due: format, lint

feat: add `optional` attribute tags
  app/(blog)/article-scheme.ts
Due: format, lint

feat: implement theme switch
  app/globals.css
  app/layout.tsx
  features/themes/theme-switch.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint

feat(css): update article cover styles
  app/(blog)/[article]/page.tsx
Due: format, lint

chore(deps): add clsx
  .prettierrc.toml
  package.json
  pnpm-lock.yaml
Due: format

feat(style): update grid layout
  app/components/Header.tsx
  app/components/container.tsx
  app/layout.tsx
Due: format, lint

comment: suppressHydrationWarning
  app/layout.tsx
Due: format, lint

feat: update home page
  app/page.tsx
Due: format, lint

style(css): text color
  app/page.tsx
Due: format, lint

refactor: page layout, containers
  app/components/container.tsx
  app/layout.tsx
Due: format, lint

feat(css): update colorscheme
  app/globals.css
Due: none

feat(css): update header styles
  app/components/Header.tsx
  app/layout.tsx
Due: format, lint

feat(css): reset prose styles
  app/globals.css
Due: none

refactor: article content styles
  app/(blog)/[article]/page.tsx
Due: format, lint

feat: update page footer
  app/layout.tsx
Due: format, lint

feat: add support for image scaling
  app/components/Image.tsx
Due: format, lint

refactor(css): content layout
  app/(blog)/[article]/page.tsx
Due: format, lint

feat: update header
  app/components/Header.tsx
Due: format, lint

refactor(css): footer padding
  app/layout.tsx
Due: format, lint

feat: add vitest
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: format, lint

refactor: content loader
  app/(blog)/[article]/page.tsx
  app/(blog)/articles/page.tsx
  app/(blog)/utils.ts
  lib/markdown-content/content.spec.ts
  lib/markdown-content/mocks/content.md
  lib/markdown-content/render.ts
  lib/markdown-content/stream.ts
Due: format, lint

fix(ci): update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: render implementation
  app/(blog)/[article]/page.tsx
Due: format, lint

feat(blog): add terminal-file-managers
  app/(blog)/content/terminal-file-managers.mdx
Due: format

chore: rename file
  app/(blog)/content/hello-world.mdx
Due: format

refactor: page layout
  app/components/Header.tsx
  app/components/container.tsx
  app/layout.tsx
Due: format, lint

refactor: article entry card components
  app/(blog)/articles/page.tsx
Due: format, lint

feat: web feed
  app/(blog)/feed/route.ts
Due: format, lint

feat(web feed): render entry content
  app/(blog)/feed/route.ts
Due: format, lint

chore: ignore *cached
  .gitignore
Due: none

feat: library for remote image fetching
  lib/external-image/cloudinary.spec.ts
  lib/external-image/cloudinary.ts
  lib/external-image/index.ts
Due: format, lint

feat: implement image caching
  app/components/Image.tsx
Due: format, lint

ci(vitest): pre-commit tests
  lefthook.yml
Due: none
